doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Universal React Kit
        script(type='text/javascript').
            var __INITIAL__ = !{bootstrap};
    body
        section#react.
            !{dom}
        script(src='bundle.js')