doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Time.recipe
        script(type='text/javascript').
            var __INITIAL__ = !{bootstrap};
        script(src='bundle.js')
    body.
        !{dom}